.homer {
		width:310px; 
		height:310px;
		background:url(homer.jpg) 0px 0px;
	}

@media (min-width: 601px) and (max-width: 800px), (min-width: 1401px) and (max-width: 1600px) {
	.homer {
		width:310px; 
		height:310px;
		background:url(homer.jpg) -310px 0px;
	}
}	
	
@media (min-width: 801px) and (max-width: 1000px), (min-width: 1201px) and (max-width: 1400px){
	.homer {
		width:310px; 
		height:310px;
		background:url(homer.jpg) 0px -310px;
	}
}	
	
@media (min-width: 1001px) and (max-width: 1200px){
	.homer {
		width:310px; 
		height:310px;
		background:url(homer.jpg) -310px -310px;
	}
}	